.App {
  background-color: #FAFAFA;
  font-size: calc(10px + 2vmin);
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Decorated-below {
  position: relative;
}
.Decorated-below::after {
  content: attr(data-content);
  position: absolute;
  bottom: -0.7em;
  left: 0;
  width: 100%;
  font-size: 0.3em;
  font-style: italic;
}

.Social-icons {
  position: absolute;
  width: 100vw;
  height: 1em;
  top: 50%;
  margin-top: 8em;
  text-align: center;
}

.Social-icon {
  height: 100%;
}
